body, html { height: 100%; }

h1 {
    text-align: center;
    margin: 0;
}

body {
    margin: 0;
    font-family: sans-serif;
}

figcaption {
    font-size: 9px;
    text-align: center;
}

.nav-image {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000000;

    /* Image used */
    background-image: url(../images/landscape.jpg);

    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-image2 {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000000;

    /* Image used */
    background-image: url(../images/landscape2.jpg);

    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.nav a {
    float: left;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}

.nav a:link { color: #f1f1f1; }

.nav a:visited { color: #dddddd; }

.nav a:hover { color: #869DC7; background-color: #EAEAEA; }

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(33, 33, 33);
    color: #f1f1f1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.wrap {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.left-col {
    margin: auto;
}

.right-col {
    margin: auto;
    width: 300px;
    text-align: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

figcaption { text-align: center; }

#img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
    width: 373px;
    height: 554px;
}

.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #dddddd;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size: 10px;
    padding: 20px;
}

.grid-item {
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    #img1 { width: 249px; height: 373px; }
}

@media only screen and (max-width: 768px) {
    .nav-image { background-attachment: scroll; }
    .nav-image2 { background-attachment: scroll; }
    .left-col { display: none; }
    .wrap { grid-template-columns: auto; gap: 10px; }
}