body {
    margin: 0;
    font-family: sans-serif;
    background-color: #eaeaea;
}

.text {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color:#eaeaea;
    text-align: center;
}

.nav-image {
    width: 100%;
    /* max-height: 800px; */
    background-image: url(../images/landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}

h1 {
    padding-top: 20px;
    text-align: center;
    margin: 0;
}

.nav {
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.nav a {
    float: left;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}

.nav a:link { color: #000000; }

.nav a:visited { color: #5a5a5a; }

.nav a:hover {
    color: #869DC7;
    background-color: #EAEAEA;
}

form { 
    background-color:#eaeaea;
    font-family: Arial, sans-serif;
    padding: 10px; 
}

label { 
    float: left;
    width: 100px; 
    clear: left;
    text-align: right; 
    padding-right: 10px;
    margin-top: 10px; 
}

input, textarea { 
    margin-top: 10px; 
    display: block; 
} 

#mySubmit { margin-left: 110px; }

.footer {
    margin-top: 400px;
    min-width: 200px;
    background-color: #dddddd;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size: 10px;
    padding: 20px 20px;
    column-count: 3;
}

@media only screen and (max-width: 1024px) {
    .nav-image { max-height: 500px; }
    .footer { margin-top: 100px; }
}